<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seller Center</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center bg-primary">
    <h1>Seller Center</h1>
    <p>Add you products from here.</p>
  </div>
</div>
<div class="container">
    <section class="mr-5 ml-5">
<form action="seller_submit" method="POST">
    {% csrf_token %}


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter the name of the product</span>
 </div>
  <input type="text" class="form-control" name= "productname" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
{#    <div class="input-group">#}
{#  <div class="input-group-prepend">#}
{#    <span class="input-group-text" id="inputGroup-sizing-default">Slug</span>#}
{# </div>#}
{#  <input type="text" class="form-control" name= "productname" aria-label="Default" aria-describedby="inputGroup-sizing-default">#}
{#</div>#}
    <br>
 <select class="form-control" name="item_category">
  <option>Select category</option>
     <option> Artifacts </option>
     <option> Pottery</option>
     <option> Jewelry</option>
</select>
<br>
  <div class="form-group">
    <label for="exampleFormControlFile1">Select Product image</label>
    <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1">
  </div>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">₹</span>
    <span class="input-group-text">0.00</span>
  </div>
  <input type="text" class="form-control" name="price" aria-label="Amount (to the nearest dollar)">
</div>

    <div class="form-group">
  <label for="exampleFormControlTextarea1">Product Description</label>
  <textarea class="form-control rounded-0" name="description" id="exampleFormControlTextarea1" rows="10"></textarea>
</div>

    <div class="form-group">
  <label for="exampleFormControlTextarea1">Seller information</label>
  <textarea class="form-control rounded-0" name="sellerinfo"  id="exampleFormControlTextarea1" rows="10"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </section>
    </div>



</body>
</html>
